body {
	width : auto;
	background-image : url('images/background3');
	/*background-size: cover;*/
	background-size : 2100px 1260px ;
	background-repeat : no-repeat;
}

.title_connect {
	text-align : center;
	color : white;
	font-size : 2.08em;
}

.circle {
	position : absolute;
	width : 100px;
	left : 130px;
	bottom : 370px;
}

.content {
	position : relative;
	top : 20px;
	height : 420px;
	width : 360px;
	margin-left : auto;
	margin-right : auto; 
	background-color : #aebc3e;    /*c4d350*/
	border-radius : 7px;
	opacity : 0.79;
}

.content2 {
	background-color : #566009;
	height : 52px;
	border-top-left-radius : 7px;
	border-top-right-radius : 7px;
}
	
.form_connect {
	margin-top : 30px;
	color : white;
	text-align : center;
	font-size : 2.3em;
}

select, textarea, input[type="text"], input[type="password"] {
	width : 350px;
	margin-right : auto;
	margin-left : auto;
	display : inline-block;
	vertical-align : middle;
	height : 38px;
	padding : 0 10px;
	margin-top : 3px;
	margin-bottom : 10px;
	font-size : 20px;
	line-height : 20px;
	border : 1px solid rgba(255, 255, 255, 0.3);
	box-sizing : border-box;
	border-radius : 5px;
	background-color : #FFFFFF;
}

.btn {
	width : 160px;
	margin-left : auto;
	margin-right : auto;
	border-radius : 10px;
	font-family : Arial;
	color : #ffffff;
	font-size : 15px;
	background : #566009;
	padding : 10px 20px 10px 20px;
	text-decoration : none;
	margin-top : 5px;
}

.btn:hover {
	background : #ffffff;
	text-decoration : none;
	color : #000000; 
}

.error{
	color : white;
	position : absolute;
	top : 98px;
	line-height : 5px;
	margin-left : 3px;
	font-size : 1.05em;
}

.error2{
	color : white;
	position : absolute;
	top : 98px;
	line-height : 5px;
	margin-left : 3px;
	font-size : 1.05em;
}

.error3{
	color : white;
	position : absolute;
	top : 113px;
	line-height : 5px;
	margin-left : 3px;
	font-size : 1.05em;
}

.tab_conseil{
	margin-right : 40px;
}	

.triangle {
	width : 100px;
	margin-left: 10px;
}

.conseil {
	color : white;
	position : relative;
	font-size : 1.2em;
	margin-left: 8px;
}

.content_footer {
	background-color: #000000;
	width: 520px;
	opacity: 0.78;
}

@media (max-width: 668px) {
	
    body {
        background-size: 1920px 1080px;	
    }
	
	.conseil {
		font-size: 0.9em;
	}
	
	.content_footer {
		width: auto;
	}
}