*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #ffffff;
}

header{
	width: 100%;
	background-color: #aebc3e;
}

.btn_menu{
	position: absolute;
	top:5px;
	left: 5px;
	width:47px;
	
}

#btn{
	display: none;
}

header label{
	display: none;
	width: 60px;
	height: 60px;
	padding: 10px;
	border-right: 1px solid #fff;
	
}

header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

/*--------------------------------- MENU  --------------------------------*/

.navegacion{
	margin: auto;
	background: #aebc3e;
	text-align : center;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
	text-align: center;
	z-index : 1;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #1F1F1F;
	font-family: 'Open sans';
	text-decoration: none;
	height: 80px;
	line-height: 50px;
}

.menu li a:hover{
	color: #fff;
	transition: all .1s;
	background-color : #566009;
}

/*------------------------------ SubmenuHisto --------------------------*/

.submenuHisto{
	position : absolute;
	background : #aebc3e;
	width : 100%;
	visibility : hidden;
	opacity : 0;
	transition : opacity 1s;
}

.submenuHisto li a{
	display : block;
	padding : 15px;
	color : #000;
	font-family : 'Open sans';
	text-decoration : none;
}

.menu li:hover .submenuHisto{
	visibility : visible;
	opacity : 1;
}

/*----------------------------- SubmenuGraph --------------------------*/

.submenuGraph{
	position : absolute;
	background : #aebc3e;
	width : 100%;
	visibility : hidden;
	opacity : 0;
	transition : opacity 1s;
}

.submenuGraph li a{
	display : block;
	padding : 15px;
	color : #000;
	font-family : 'Open sans';
	text-decoration : none;
}

.menu li:hover .submenuGraph{
	visibility : visible;
	opacity : 1;
}

/*-------------------------------- SubmenuSetting ----------------------------*/

.submenuSetting{
	position : absolute;
	background : #aebc3e;
	width : 100%;
	visibility : hidden;
	opacity : 0;
	transition : opacity 1s;
}

.submenuSetting li a{
	display : block;
	padding : 15px;
	color : #000;
	font-family : 'Open sans';
	text-decoration : none;
}

.menu li:hover .submenuSetting{
	visibility : visible;
	opacity : 1;
}

/*-------------------------------- MENU END ----------------------------*/

main{
	padding: 20px;
}

table{
	position: relative;
	font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    border-collapse: collapse;
	font-size: 1.1em;
	margin-left: 2px;
}

.title{
	background-color: #969696;
	border: 2px ridge gray;

}

th{
	border-right: 2px ridge gray;
}

td{
    border: 2px ridge gray;
	line-height: 16px;
	width: 140px;
	text-align: center;
}

















@media(max-width: 768px){
	
	header label{
		display:block;
		
	}
	
	.navegacion{
		position: absolute;
		width:50%;
		margin-left:-71%;
		background: #aebc3e ;
		z-index : 1;
	}
	
	
	ul li{
		width: 100%;
		float: none;
		flex-direction: column;
		border-top: 1px solid #fff;
	}
	
	ul li a{
		width: 100%;
		display: block;
	}
	
	ul li ul li{
		position: static;
	}
	
	.submenuHisto{
		position: absolute;
		margin-left: 100%;
		top: -1px;
		border-left: 1px solid #000;
	}
	
	.submenuGraph{
		position: absolute;
		margin-left: 100%;
		top: -1px;
		border-left: 1px solid #000;
	}
	
	.submenuSetting{
		position: absolute;
		margin-left: 100%;
		top: -1px;
		border-left: 1px solid #000;
	}
	
	#btn:checked ~ .navegacion{
		margin: 0;
		
	}
	
	table{
	position: relative;
	font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    border-collapse: collapse;
	margin-left: 1px;
	font-size : 5px;
	font-style : bold;
}
	
	
}
